{{>layouts/header}}
    <h1>
        {{# id}}
            <h1>Hello {{username}}! Your identity number is {{id}}.</h1>
        {{/ id}}
        {{^ id}}
            <h1>Hello {{username}}! Your identity number is {{id}}.</h1>
        {{/ id}}
    </h1>
{{>layouts/footer}}
